<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Website short description." />
<meta name="keywords" content="website main keywords" />
	<title>情報再利用推進プロジェクト</title>
<link href="doc/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="container">

<div id="header"><h1>情報再利用推進委員会</h1></div>

<div id="sub_header">フォーマット標準化でカンタン利用、カンタン共有。</div>

<div id="main_content_top"></div>

<div id="main_content">

<div class="content">
<h2>CSV Validater</h2>
<p>CSVファイルのURLを指定してください。</p>
<form method="post">
<input type="text" name="url" value="{{url}}">
<input type="submit" value="check">
</form>

<hr />
<p style="font-size:18px;">
{{errors}}
</p>
</div>
<div class="menu">
<div class="menu_title">ドキュメント</div>
<ul>
<li><a href="doc/index.html" class="doc/index.html">CSV Validater</a></li>
</ul>
</div>
<!--
<div class="menu">
<div class="menu_title">Main menu</div>
<ul>
<li><a href="#" class="menu_link">About me</a></li>
<li><a href="#" class="menu_link">Contact me</a></li>
</ul>
<div class="menu_title">Sub menu</div>
<ul>
<li><a href="http://www.pikanai.com" class="menu_link">Pikanai</a></li>
</ul>
<div class="menu_title">Friends</div>
<ul>
<li><a href="http://www.oswd.org" class="menu_link">OSWD</a></li>
<li><a href="http://www.opendesigns.org" class="menu_link">Open Designs</a></li>
</ul>
</div>
-->
<div id="clear"></div>

</div>

<div id="main_content_bottom">
</div>

<div id="footer"><a href="http://www.hack4.jp/" target="_blank" rel="nofollow"><img src="http://sites.google.com/site/hackforjapan/RelatedInfo/unity/iab_f.png" style="width:468px;height:60px;margin:1px;" alt="Hack For Japan 「コードでつなぐ。想いと想い」"></a></div>

</div>

</body>

</html>